---
import Button from '~/components/ui/Button.astro';
import Typography from '~/components/ui/Typography.astro';
---

<div class="w-full flex justify-center">
    <div class="w-full h-full text-center py-10 px-5  max-w-[800px]">
      <Typography type={'title'} size="lg">
        <span class="text-special">Contact</span> us
      </Typography>
      _______________________________
      <div class="my-10">
        <div class="p-5 border-2 border-special rounded-t-2xl flex flex-col">
          <form class="p-1 mb-5 flex flex-col" name="contact" method="post"  onsubmit="submit" netlify action="#">
            <input
              placeholder="Enter your name"
              type="text" name="name"
              class="bg-lighten dark:bg-darken border-2 border-special rounded-xl w-[70%] px-3 placeholder:text-sm placeholder:text-gray-600 dark:placeholder:text-gray-400"
            />
            <input
              placeholder="Enter your email"
              type="email" id="email" name="email"
              class="bg-lighten dark:bg-darken border-2 border-special rounded-xl w-[80%] my-5 px-3 placeholder:text-sm placeholder:text-gray-600 dark:placeholder:text-gray-400"
            />
            <textarea
              placeholder="Subject" id="content" name="contet"
              class="bg-lighten border-2 dark:bg-darken border-special rounded-3xl h-44 w-full px-3 pt-2 placeholder:text-sm placeholder:text-gray-600 dark:placeholder:text-gray-400"
            ></textarea>
            <div class="w-full flex justify-end pt-5">
              <Button mode={'primary'} size="md" link="#" button={true} props={{type:"submit"}}>Submit</Button>
            </div>
          </form>
        </div>
        <div class="w-full bg-special h-20 flex justify-center items-center rounded-b-2xl">
          <div class="p-8 bg-lighten dark:bg-darken rounded-full"></div>
          <div class="p-8 bg-lighten dark:bg-darken rounded-full mx-5"></div>
          <div class="p-8 bg-lighten dark:bg-darken rounded-full"></div>
        </div>
      </div>
    </div>
  </div>