---
import Typography from '~/components/ui/Typography.astro';
import { Icon } from 'astro-icon';

export interface Props {
  content: [{ title: string; description: string; icon: string }];
}

const { content } = Astro.props;
---

<div class="w-full h-full text-center py-10">
  <Typography type={'title'} size="lg"> <slot name="title" /> </Typography>
  <Typography type="describtion" classes="px-20"> <slot name="description" /></Typography>
  <div>
    {content.map((element) => {
        return (
          <div class="pt-10 flex flex-col space-y-10 justify-center items-center">
            <div class="flex items-center p-2">
              <div class="bg-special rounded-full mr-2 max-w-[80px] max-h-[80px] flex justify-center items-center"><Icon name={element.icon} class="w-20 p-2 text-lighten dark:text-darken" /></div>
              <div class="flex flex-col justify-start items-start">
                <Typography type={'title'} size="md">{element.title} </Typography>
                <Typography type={'describtion'} classes="text-left"> {element.description}</Typography>
              </div>
              </div>
              _____________________________
          </div>
          )})}
  </div>
</div>
