---
import { Picture } from '@astrojs/image/components';
import Button from '~/components/ui/Button.astro';
import Typography from '~/components/ui/Typography.astro';

export interface Props {
FirstLink:string;
SecondLink:string;
img:any;

}

const {
  FirstLink = await Astro.slots.render('FirstLink'),
  SecondLink = await Astro.slots.render('SecondLink'),
  img = await Astro.slots.render('img'),
} = Astro.props;
---



<div></div>
<div class="flex flex-col justify-center w-full text-center my-10 lg:flex-row-reverse lg:m-0 lg:mt-10 lg:px-10 lg:align-top">
  <Picture
    class="mx-auto rounded-md w-full md:pb-0 pb-5"
    widths={[400, 768, 1000, 1800, 2040]}
    sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 1350px) 1000px, (max-width: 2039px) 1800px, 2440px"
    aspectRatio={1024 / 576}
    loading="eager"
    width={1024}
    height={576}
    src={img}
    alt="Hero Image"
  />
  <div class="lg:text-left">
    <Typography type={'title'} size="md">
      <slot name="title"/>
    </Typography>
    <Typography classes="max-w-[90vw] sm:max-w-[80vw] text-xs mt-2 m-auto sm:text-sm" type={'describtion'}>
      <slot name="description"/>
    </Typography>
    <div class="flex justify-evenly w-full mt-5 lg:justify-start">
      <Button mode={'primary'} size={'md'} link={FirstLink}>Integrate Now</Button>
      <span class="lg:px-5"></span>
      <Button link={SecondLink} mode={'ghost'} size={'md'}>Contribute</Button>
    </div>
  </div>
  <!-- <div>jhsdlkjfhsdlkjfhsadkjhf</div> -->
</div>