---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

//==================Widgets=======================

//================Content========================


//=========================================

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---
<Layout {meta}>
  <div>
    
  </div>
</Layout>
