---
export interface Props {
  link?: string;
  size?: "sm" | "md" | "lg";
  mode?: "primary" | "ghost" | "link" ;

}

const {
  link = await Astro.slots.render('link'),
  size = await Astro.slots.render('size'),
  mode = await Astro.slots.render('mode'),
} = Astro.props;
---

<a href={link} 
  class:list={[
    mode ==="primary"&&"text-lighten bg-special dark:text-darken",
    mode ==="link"&& "text-special bg-lighten dark:bg-darken",
    mode ==="ghost"&&"border-2 border-special text-special" ,
    size ==="sm"&&"text-sm  font-medium w-32 py-1.5" ,
    size ==="md"&&"text-lg  w-40 py-2" ,
    size ==="lg"&&"text-xl  w-44 py-2"
    ]}
    class="flex justify-center text-center rounded-2xl font-semibold items-center"
    target="_blank"
>
  <slot />
</a>
