---
export interface Props {}

// const {

// } = Astro.props;
---

<div class="relative pt-10 cursor-pointer">
  <div class="border border-special rounded-3xl max-w-sm">
    <div class="bg-lighten dark:bg-darken w-44 h-3 absolute  top-9 flex justify-center rounded-full" style="left:6rem;"></div>
    <div class="absolute top-0" style="left: 9.5rem;">
      <div class="flex justify-center items-center border-special border rounded-full p-9">
        <div class="flex justify-center items-center bg-special w-16 h-16 rounded-full absolute text-lighten dark:text-darken">
          <slot name="logo" />
        </div>
      </div>
    </div>
    <div class="p-5">
      <div>
        <div class="mt-7 flex justify-center my-4 text-xl text-darken font-bold dark:text-lighten">
          <slot name="title" />
        </div>
        <div class=" text-sm text-center text-gray-500 dark:text-gray-300"><slot /></div>
      </div>
    </div>
  </div>
</div>
