---
export interface Props {
  type: 'title' | 'describtion';
  size?: 'sm' | 'md' | 'lg';
  color?: 'special' | 'lighten' | 'darken' | 'system';
  classes?: string;
}
const {
  type = await Astro.slots.render('type'),
  size = await Astro.slots.render('size'),
  classes = await Astro.slots.render('classes'),
} = Astro.props;

const sizeChecker = size === "sm" && "text-[max(1.5vw,14px)]" || size === "md" && "text-[max(3vw,30px)]"  || size === "lg" && "text-[max(4vw,30px)]"
---

{type === 'title' && <h1 class={`text-darken dark:text-lighten font-medium ${sizeChecker}`}><slot /></h1>}
{type === 'describtion' && <p class={`text-gray-500 dark:text-gray-300 text-[max(.8vw,13px)] ${classes}`}><slot /></p>}
